In [53]:
import pandas as pd
import numpy as np

In [54]:
dados = pd.read_csv('DADOS_RS.csv')
dados.head()

,Unnamed: 0,X1,N_REMESSA,REGIAO,UF-MINICIPIO,AREA_ha,R$ ADICIONAL,R$ SINISTRO,R$_RISCO,N_SICOR,...,N_EVENTO,MESINI_EVENTO,ANOINI_EVENTO,MESFIM_EVENTO,ANOFIM_EVENTO,MESCOP,ANOCOP,Z,Latitude,Longitude
0,1,280,PROAGRO_MAIS,SUL,AGUA SANTA,16.0,484.50,17766.89,24224.80,TRIGO,...,CHUVA EXCESSIVA,9,2014,10,2014,10,2014,0.733417,-28.17,-52.03
1,2,578,PROAGRO_MAIS,SUL,AGUA SANTA,15.0,319.91,9076.73,15995.70,TRIGO,...,CHUVA EXCESSIVA,9,2014,9,2014,11,2014,0.567448,-28.17,-52.03
2,3,1454,PROAGRO_MAIS,SUL,AGUDO,4.6,147.84,1774.09,7392.07,MILHO,...,GRANIZO,12,2014,12,2014,12,2014,0.239999,-29.64,-53.24
3,4,1603,PROAGRO_MAIS,SUL,AGUDO,8.0,235.44,354.04,23543.68,ARROZ,...,CHUVA EXCESSIVA,2,2015,2,2015,3,2015,0.015038,-29.64,-53.24
4,5,10,PROAGRO_MAIS,SUL,AJURICABA,32.0,1356.29,58102.77,67814.40,MILHO,...,SECA?????????????????????????????????????????,11,2014,12,2014,1,2015,0.856791,-28.23,-53.77

### Pra começar tem aquele valor de SECA zoado ali. Vamo ver se tem mais algum valor de N_EVENTO zoado

In [55]:
print(dados['N_EVENTO'].unique())

['CHUVA EXCESSIVA' 'GRANIZO'
 'SECA?????????????????????????????????????????' 'VENTO FORTE' 'VENTO FRIO'
 'VARIACAO EXCESSIVA DE TEMPERATURA' 'GEADA' 'DOENCA OU PRAGA']

### Só o SECA que parece zoado. Dá pra consertar ele de boa

In [56]:
dados.loc[dados['N_EVENTO'].str.startswith('SECA'), 'N_EVENTO'] = 'SECA'
print(dados['N_EVENTO'].unique())

['CHUVA EXCESSIVA' 'GRANIZO' 'SECA' 'VENTO FORTE' 'VENTO FRIO'
 'VARIACAO EXCESSIVA DE TEMPERATURA' 'GEADA' 'DOENCA OU PRAGA']

Por via das dúvidas já vou salvar aqui esse dataset limpo. Quando você ver isso aqui, pode excluir o dataset velho

In [57]:
dados.to_csv('DADOS_RS2.csv')

### Voltando aos sinistros. Vamo ver qualé deles

In [58]:
dados.groupby(['N_EVENTO']).size().sort_values(ascending = False)

N_EVENTO
SECA                                 1123
CHUVA EXCESSIVA                       293
VENTO FORTE                           235
GRANIZO                                40
DOENCA OU PRAGA                         6
VARIACAO EXCESSIVA DE TEMPERATURA       5
GEADA                                   4
VENTO FRIO                              2
dtype: int64

### Dá pra colocar mais informação nessa visão

In [73]:
dados.groupby(['N_EVENTO']).aggregate({'R$ ADICIONAL': [np.mean,np.sum, 'count'], 'R$ SINISTRO': [np.mean,np.sum], 'R$_RISCO': [np.mean,np.sum], 'Z': np.mean}).sort_values(by = ('R$ ADICIONAL', 'count'), ascending = False)

                                       R$_RISCO                R$ SINISTRO  \
                                           mean          sum          mean
N_EVENTO
SECA                               14025.008077  15750084.07   7597.205913
CHUVA EXCESSIVA                    26498.284676   7763997.41  17041.091502
VENTO FORTE                        25072.437532   5892022.82  10661.011957
GRANIZO                            17373.308500    694932.34   7734.402000
DOENCA OU PRAGA                    36327.515000    217965.09   6384.798333
VARIACAO EXCESSIVA DE TEMPERATURA  19259.298000     96296.49   4337.560000
GEADA                              45828.832500    183315.33  30577.202500
VENTO FRIO                         11950.000000     23900.00   5498.475000

                                                      Z R$ ADICIONAL  \
                                          sum      mean         mean
N_EVENTO
SECA                               8531662.24  0.571216   280.500525
CHUVA EXCESSIVA                    4993039.81  0.646630   498.857543
VENTO FORTE                        2505337.81  0.453858   501.449149
GRANIZO                             309376.08  0.483991   347.466250
DOENCA OU PRAGA                      38308.79  0.274924   388.073333
VARIACAO EXCESSIVA DE TEMPERATURA    21687.80  0.263320   311.186000
GEADA                               122308.81  0.686704   916.575000
VENTO FRIO                           10996.95  0.540694   239.000000


                                         sum count
N_EVENTO
SECA                               315002.09  1123
CHUVA EXCESSIVA                    146165.26   293
VENTO FORTE                        117840.55   235
GRANIZO                             13898.65    40
DOENCA OU PRAGA                      2328.44     6
VARIACAO EXCESSIVA DE TEMPERATURA    1555.93     5
GEADA                                3666.30     4
VENTO FRIO                            478.00     2

### Dá pra achar algum sentido pra os valores variarem tanto entre os tipos de sinistro?