In [2]:
import pandas as pd

In [3]:
dados = pd.read_csv('DADOS_RS.csv')
dados.head()

,Unnamed: 0,X1,N_REMESSA,REGIAO,UF-MINICIPIO,AREA_ha,R$ ADICIONAL,R$ SINISTRO,R$_RISCO,N_SICOR,...,N_EVENTO,MESINI_EVENTO,ANOINI_EVENTO,MESFIM_EVENTO,ANOFIM_EVENTO,MESCOP,ANOCOP,Z,Latitude,Longitude
0,1,280,PROAGRO_MAIS,SUL,AGUA SANTA,16.0,484.50,17766.89,24224.80,TRIGO,...,CHUVA EXCESSIVA,9,2014,10,2014,10,2014,0.733417,-28.17,-52.03
1,2,578,PROAGRO_MAIS,SUL,AGUA SANTA,15.0,319.91,9076.73,15995.70,TRIGO,...,CHUVA EXCESSIVA,9,2014,9,2014,11,2014,0.567448,-28.17,-52.03
2,3,1454,PROAGRO_MAIS,SUL,AGUDO,4.6,147.84,1774.09,7392.07,MILHO,...,GRANIZO,12,2014,12,2014,12,2014,0.239999,-29.64,-53.24
3,4,1603,PROAGRO_MAIS,SUL,AGUDO,8.0,235.44,354.04,23543.68,ARROZ,...,CHUVA EXCESSIVA,2,2015,2,2015,3,2015,0.015038,-29.64,-53.24
4,5,10,PROAGRO_MAIS,SUL,AJURICABA,32.0,1356.29,58102.77,67814.40,MILHO,...,SECA?????????????????????????????????????????,11,2014,12,2014,1,2015,0.856791,-28.23,-53.77

['Timbu', 'e', 'Thiaguinho']